$accentColor: #ff6b08;
$iconColor: #818181;

$primaryTextColor: #000000;
$secondaryTextColor: #ffffff;
$footerTextColor: #545454;
$cardSecondaryTextColor: #8c8c8c;
$errorTextColor: #ff6b08;

$lightBcgColor: #ffffff;
$footerBcgColor: #f7f7f7;
