<article class="card is-hidden" data-modal>
  <div class="card__container">
    <button class="card__close" type="button" data-modal-close>
      <svg class="card__icon-close" width="14" height="14">
        <use href="./images/spriteIcons.svg#icon-cross"></use>
      </svg>
    </button>

    <div class="card__image-wrapper">
      <img class="card__image" src="./images/demo-card.jpg" alt="film poster" loading="lazy" />
    </div>
    <div class="card__content">
      <h1 class="card__title">A FISTFUL OF LEAD</h1>

      <table class="card__film-specification">
        <tr class="card__film-characteristics">
          <td class="card__film-point">Vote / Votes</td>
          <td class="card__film-data"><span class="card__film-data-label">7.3</span>/ 1260</td>
        </tr>
        <tr class="card__film-characteristics">
          <td class="card__film-point">Popularity</td>
          <td class="card__film-data">100.2</td>
        </tr>
        <tr class="card__film-characteristics">
          <td class="card__film-point">Original Title</td>
          <td class="card__film-data">A FISTFUL OF LEAD</td>
        </tr>
        <tr class="card__film-characteristics">
          <td class="card__film-point">Genre</td>
          <td class="card__film-data">Western</td>
        </tr>
      </table>

      <h2 class="card__film-write-up">about</h2>
      <p class="card__film-description">
        Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
        most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
        the other three escapes with bags of gold hide out in the abandoned gold mine where they
        happen across another gang of three – who themselves were planning to hit the very same
        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
        filled with lead... they’ve been double crossed – but by who and how?
      </p>

      <ul class="buttons card__buttons">
        <li class="buttons__item card__buttons-item">
          <button
            class="button card__button button--on card__button--on"
            type="button"
            data-btn="add to watched"
          >
            add to watched
          </button>
        </li>
        <li class="buttons__item card__buttons-item">
          <button
            class="button card__button button--off card__button--off"
            type="button"
            data-btn="add to queue"
          >
            add to queue
          </button>
        </li>
      </ul>
    </div>
  </div>
</article>
