<div class="dev-backdrop backdrop is-hidden">
  <section class="dev-modal">
    <picture>
      <source srcset="./images/photoDev/photoLS.webp" type="image/webp" />
      <source srcset="./images/photoDev/photoLS.jpg" type="image/jpeg" />
      <img
        class="dev-modal__photo"
        src="./images/photoDev/photoLS.jpg"
        alt="Serhii Lekhman"
        width="280"
        loading="lazy"
      />
    </picture>
    <h2 class="dev-modal__title">
      Serhii Lekhman<span class="dev-modal__title-span">Developer</span>
    </h2>
  </section>
</div>
