<div class="container">
  <ul class="films">
    <li class="films__item">
      <img class="films__image" src="./images/demo-card.jpg" alt="film poster" loading="lazy" />
      <h2 class="films__title">A FISTFUL OF LEAD</h2>
      <div class="films__wrapper-data">
        <p class="films__genre">Comedy, Action |</p>
        <p class="films__year">2020</p>
        <p class="films__rating">8.8</p>
      </div>
    </li>
    <li class="films__item">
      <img class="films__image" src="./images/demo-card.jpg" alt="film poster" loading="lazy" />
      <h2 class="films__title">A FISTFUL OF LEAD</h2>
      <div class="films__wrapper-data">
        <p class="films__genre">Comedy, Action |</p>
        <p class="films__year">2020</p>
        <p class="films__rating">8.8</p>
      </div>
    </li>
    <li class="films__item">
      <img class="films__image" src="./images/demo-card.jpg" alt="film poster" loading="lazy" />
      <h2 class="films__title">A FISTFUL OF LEAD</h2>
      <div class="films__wrapper-data">
        <p class="films__genre">Comedy, Action |</p>
        <p class="films__year">2020</p>
        <p class="films__rating">8.8</p>
      </div>
    </li>
    <li class="films__item">
      <img class="films__image" src="./images/demo-card.jpg" alt="film poster" loading="lazy" />
      <h2 class="films__title">A FISTFUL OF LEAD</h2>
      <div class="films__wrapper-data">
        <p class="films__genre">Comedy, Action |</p>
        <p class="films__year">2020</p>
        <p class="films__rating">8.8</p>
      </div>
    </li>
    <li class="films__item">
      <img class="films__image" src="./images/demo-card.jpg" alt="film poster" loading="lazy" />
      <h2 class="films__title">A FISTFUL OF LEAD</h2>
      <div class="films__wrapper-data">
        <p class="films__genre">Comedy, Action |</p>
        <p class="films__year">2020</p>
        <p class="films__rating">8.8</p>
      </div>
    </li>
  </ul>
</div>
