<footer class="footer">
  <div class="container">
    <ul class="footer__list">
      <li class="footer__item">
        <p class="footer__text">© 2022 | All Rights Reserved |</p>
      </li>
      <li class="footer__item footer__item--dev">
        <p class="footer__text footer__text--dev">
          Developed with
          <svg class="footer__icon" width="14" height="13">
            <use href="./images/spriteIcons.svg#icon-favorite"></use>
          </svg>
          by
          <span class="footer__text--decoration-underline"> Serhii Lekhman </span>
        </p>
      </li>
    </ul>
  </div>
</footer>
