.buttons {
  display: flex;
  justify-content: center;
}
.header__buttons {
  margin-top: 46px;
  padding-bottom: 65px;
}

.header__buttons-item:not(:last-child) {
  margin-right: 20px;

  @include mq(tablet) {
    margin-right: 15px;
  }
}

.quantity-watched,
.quantity-queue {
  margin-left: 5px;
  padding: 1px 8px;
  border: 1px solid $secondaryTextColor;
  border-radius: 50%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 44px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 250ms;

  @include font($fw: 500, $fs: 12px, $lh: 16px, $color: $secondaryTextColor);

  @include mq(tablet) {
    width: 136px;
  }
}

.button:hover {
  letter-spacing: 1.5px;
  box-shadow: 0px 0px 16px 5px rgba(255, 106, 8, 0.75);
  filter: drop-shadow(4px 8px 15px $accentColor);
}

.button--on {
  background-color: $accentColor;
  border: 1px solid $accentColor;

  @include font($fw: 500, $fs: 12px, $lh: 16px, $color: $secondaryTextColor);
  // filter: drop-shadow(0px 8px 43px $accentColor);
}
.button--off {
  background-color: transparent;
  border: 1px solid #ffffff;
}
