.trailer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: 500ms all ease;

  &.is-open {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 500ms width ease 300ms, 500ms height ease 300ms, 500ms border-radius ease 500ms;
  }
}
