.films {
  padding-top: 20px;
  padding-bottom: 40px;

  @include mq(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    padding-top: 60px;
    padding-bottom: 50px;
  }

  @include mq(desktop) {
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 46px;
  }
}

.films__item {
  cursor: pointer;
}

.films__item:not(:last-child) {
  margin-bottom: 20px;

  @include mq(tablet) {
    margin-bottom: 0;
  }
}

.films__image {
  margin-bottom: 10px;

  @include mq(tablet) {
    width: 294px;
  }

  @include mq(desktop) {
    width: 205.5px;
  }
}

.films__title {
  @include font($fw: 500, $fs: 12px, $lh: 14px);
  text-transform: uppercase;

  @include mq(desktop) {
    @include font($lh: 16px);
  }
}

.films__info {
  display: flex;
  align-items: center;
  @include font($fw: 500, $fs: 12px, $lh: 16px, $color: $accentColor);
}

.films__rating {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 16px;
  margin-left: 10px;

  background-color: $accentColor;
  border-radius: 5px;

  @include font($fw: 500, $fs: 12px, $lh: 14px, $color: $secondaryTextColor);
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 193px;

  // min-width: 320px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;

  background-color: rgba(240, 233, 233, 0.156);

  background-image: url(../images/error.jpg);
  background-image: -webkit-image-set(url('../images/error.webp') 1x);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include font($fw: 500, $fs: 16px, $lh: 16px, $color: $errorTextColor);

  @include mq(tablet) {
    padding-top: 40px;
    padding-bottom: 300px;

    @include font($fw: 500, $fs: 32px, $lh: 16px, $color: $errorTextColor);
  }
}

.no-movies {
  padding-top: 3px;
  background-image: url(../images/no-movies.jpg);
  background-image: -webkit-image-set(url('../images/no-movies.webp') 1x);

  text-align: center;
  @include font($fs: 22px, $color: $errorTextColor);

  @include mq(tablet) {
    padding-top: 14px;
    padding-bottom: 400px;
    @include font($fs: 42px, $color: $errorTextColor);
  }

  @include mq(desktop) {
    padding-bottom: 500px;
  }
}
