.films {
  padding-top: 20px;
  padding-bottom: 40px;

  @include mq(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    padding-top: 60px;
    padding-bottom: 50px;
  }

  @include mq(desktop) {
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 46px;
  }
}

.films__item:not(:last-child) {
  margin-bottom: 20px;

  @include mq(tablet) {
    margin-bottom: 0;
  }
}

.films__image {
  margin-bottom: 10px;

  @include mq(tablet) {
    width: 294px;
  }

  @include mq(desktop) {
    width: 205.5px;
  }
}

.films__title {
  @include font($fw: 500, $fs: 12px, $lh: 14px);
  text-transform: uppercase;

  @include mq(desktop) {
    @include font($lh: 16px);
  }
}

.films__wrapper-data {
  display: flex;
  align-items: center;

  @include font($fw: 500, $fs: 12px, $lh: 16px, $color: $accentColor);
}

.films__genre {
  margin-right: 3px;
}

.films__year {
  margin-right: 10px;
}

.films__rating {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 16px;

  background-color: $accentColor;
  border-radius: 5px;

  @include font($fw: 500, $fs: 12px, $lh: 14px, $color: $secondaryTextColor);
}
