.footer {
  padding-top: 29px;
  padding-bottom: 29px;
  background-color: $footerBcgColor;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(tablet) {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
}

.footer__item:not(:last-child) {
  padding-bottom: 10px;

  @include mq(tablet) {
    margin-right: 5px;
    padding-bottom: 0;
  }
}

.footer__text {
  @include font($fw: 400, $fs: 14px, $lh: 16px, $color: $footerTextColor);

  @include mq(tablet) {
    @include font($fw: 400, $fs: 16px, $lh: 19px, $color: $footerTextColor);
  }
}

.footer__text--dev {
  cursor: pointer;
  transition: all 250ms;
}

.footer__text--dev:hover,
.footer__text--dev:focus {
  letter-spacing: 0.5px;
}

.footer__text--decoration-underline {
  text-decoration-line: underline;
}

.footer__icon {
  margin-left: 4px;
  margin-right: 4px;
  fill: $accentColor;
  transition: all 500ms;
}

.footer__text--dev:hover .footer__icon,
.footer__text--dev:focus .footer__icon {
  animation: pulse 800ms infinite linear;
  // animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    fill: red;
    transform: scale(2.2);
  }
  100% {
    transform: scale(1);
  }
}
