.header {
  padding-top: 46px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;

  background-color: rgba(0, 0, 0, 0.56);

  background-image: url(../images/home/home-sm.jpg);
  background-image: -webkit-image-set(url('../images/home/home-sm.webp') 1x);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include mq(retina) {
    background-image: url('../images/home/home@2x-sm.jpg');
    background-image: -webkit-image-set(url('../images/home/home@2x-sm.webp') 2x);
  }

  @include mq(tablet) {
    background-image: url(../images/home/home-md.jpg);
    background-image: -webkit-image-set(url('../images/home/home-md.webp') 1x);

    @include mq(retina) {
      background-image: url('../images/home/home@2x-md.jpg');
      background-image: -webkit-image-set(url('../images/home/home@2x-md.webp') 2x);
    }
  }

  @include mq(desktop) {
    background-image: url(../images/home/home-lg.jpg);
    background-image: -webkit-image-set(url('../images/home/home-lg.webp') 1x);

    @include mq(retina) {
      background-image: url('../images/home/home@2x-lg.jpg');
      background-image: -webkit-image-set(url('../images/home/home@2x-lg.webp') 2x);
    }
  }

  &.header--library {
    background-image: url(../images/library/library-sm.jpg);
    background-image: -webkit-image-set(url('../images/library/library-sm.webp') 1x);

    @include mq(retina) {
      background-image: url('../images/library/library@2x-sm.jpg');
      background-image: -webkit-image-set(url('../images/library/library@2x-sm.webp') 2x);
    }

    @include mq(tablet) {
      background-image: url(../images/library/library-md.jpg);
      background-image: -webkit-image-set(url('../images/library/library-md.webp') 1x);

      @include mq(retina) {
        background-image: url('../images/library/library@2x-md.jpg');
        background-image: -webkit-image-set(url('../images/library/library@2x-md.webp') 2x);
      }
    }
    @include mq(desktop) {
      background-image: url(../images/library/library-lg.jpg);
      background-image: -webkit-image-set(url('../images/library/library-lg.webp') 1x);

      @include mq(retina) {
        background-image: url('../images/library/library@2x-lg.jpg');
        background-image: -webkit-image-set(url('../images/library/library@2x-lg.webp') 2x);
      }
    }
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__icon {
  stroke: #818181;
  margin-right: 10px;
  transition: fill 250ms, transform 250ms;
}

.logo:hover .logo__icon,
.logo:focus .logo__icon {
  animation: pulse-logo 800ms forwards linear;
}

@keyframes pulse-logo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  65% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.5);
  }
  85% {
    transform: scale(1.2);
  }
  100% {
    stroke: $accentColor;
    transform: scale(1.5);
  }
}

.logo__text {
  display: none;
  @include mq(tablet) {
    display: block;
    @include font($fw: 500, $fs: 30px, $lh: 35px, $color: $secondaryTextColor);
    letter-spacing: 1px;
    transition: all 250ms;

    text-shadow: 10px -10px 15px $accentColor, -10px 10px 15px $accentColor;
    -webkit-text-stroke: 1px $secondaryTextColor;
    -webkit-text-fill-color: transparent;
  }
}

.logo:hover .logo__text,
.logo:focus .logo__text {
  letter-spacing: 3px;
  -webkit-text-stroke: 1px $accentColor;
}

.nav-list {
  display: flex;
}

.nav-list__item {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include font($fw: 500, $fs: 12px, $lh: 14px, $color: $secondaryTextColor);
  &:not(:last-child) {
    margin-right: 39px;
  }
}

.nav-list__item:hover,
.nav-list__item:focus {
  color: $accentColor;
  transform: scale(1.2);
}

.nav-list__item--current::after {
  content: '';
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: $accentColor;
}

.header-form__wrapper {
  position: relative;
  padding-bottom: 114px;
  margin-top: 41px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-form {
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include mq(tablet) {
    width: 336px;
  }
}

.header-form__input {
  position: absolute;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $secondaryTextColor;

  @include font($fw: 400, $fs: 14px, $lh: 16px, $color: $secondaryTextColor);

  &::placeholder {
    color: $secondaryTextColor;
    transition: 250ms;
  }

  @include mq(tablet) {
    display: flex;
    justify-content: center;
    width: 336px;
  }
}

.header-form__input:hover::placeholder,
.header-form__input:hover::placeholder {
  color: $accentColor;
  letter-spacing: 2px;
}

.header-form__submit {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  stroke: $secondaryTextColor;
  transition: all 250ms;
}

.header-form__submit:hover,
.header-form__submit:focus {
  stroke: $accentColor;
  transform: scale(1.8);
}
